<div class="email-list">
  <% if @emails.count.zero? %>
    No emails found
  <% else %>
    <table>
      <thead>
        <tr>
          <th>S.No.</th>
          <th>From</th>
          <th>To</th>
          <th>Subject</th>
          <th>Content</th>
          <th>Opened At</th>
          <th>First Open Ip</th>
          <th>First Opne UA</th>
        </tr>
      </thead>
      <tbody>
        <% @emails.each.with_index do |email, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= email.from %></td>
            <td><%= email.to %></td>
            <td><%= email.subject %></td>
            <td><%= truncate(email.content.html_safe) %></td>
            <td><%= email.opened_at || 'Not Opened yet' %></td>
            <td><%= email.email_trackings&.first&.ip || 'N/A' %></td>
            <td><%= truncate(email.email_trackings&.first&.user_agent || 'N/A') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>